TorchGT/
model_ckpt/
dataset/
__pycache__/
*.csv
*.json


dataset/
dataset-graph/
dataset/*
dataset-graph/*
*.log
*.txt
experiment_logs/
experiment_logs/*
experiment_logs_new/
experiment_logs_new/*
exps/
exps/*

# 图级别任务暂时不要
models/graphormer_dist_graph_level_mp_malnet_ppr.py
models/graphormer_dist_graph_level_mp_malnet.py
models/gt_dist_graph_level_mp_malnet_ppr.py
models/gt_dist_graph_level_mp_malnet.py


main_sp_sparse_malnet_ppr.py
main_sp_sparse_malnet.py
run_ppr_graph.sh
run_graph.sh

data
data/
data/*
NeutronGT/dataset

old_logs/
old_logs/*
run.sh


NeutronGT_logs/

*.zip